.modal {
  position: fixed;
  top: 0px; left: 0px;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  color: #fff;
}

.modal--active {
  transition: visibility .1s, opacity .4s .1s;
  visibility: visible;
  opacity: 1;
}

.modal--deactive {
  transition: opacity .4s, visibility .1s .4s;
  visibility: hidden;
  opacity: 0;
}

.modal__close-button {
  position: absolute;
  top: 20px; right: 20px;
  width: 30px; height: 30px;
  background: red;
  cursor: pointer;
}

.modal__content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
}

.modal__video {
  width: $video-width; height: $video-height;
  background: #fff;
  margin-bottom: 15px;
}

.modal__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3px;
}

.modal__description {
  float: left;
  font-size: 1.4rem;
}

.modal__more-button {
  float: right;
  font-size: 1.4rem;
}